p{
    margin:0;
    padding: 0;
    font-size: 18px;
}
.ProfileList{
    margin: 1vh;
    padding: 2vh 3vw;
    border-radius: 5vw;
    border-style: solid;
    border-color: #E5E5E5;
    align-items: center;
}
b{
    margin:0;
    padding: 0;
}

input{
    border: none;
    width: 90%;
    font-size: 18px;
}
input:focus{
    outline: none;
    border-bottom: solid #E5E5E5;
}
