.BoxL{
    margin: 1vh;
    padding: 0.5vh 1vw;
    border-radius: 30px;
    border-style: solid;
    border-color: #E5E5E5;
}

.BoxM{
    display: flex;
    flex-direction: column;
    padding: 0.5vh 2vw;
    margin: 1vh;
    border-radius: 2vh;
    border: solid;
    border-color: #E5E5E5;
}

h1{
    padding: 0 5vw;
}

.RoundIconDivLStyle{
    border-radius: 50px;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E5E5;
}

.CheckBtnCircle{
    border-radius: 50px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MiddleContents{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ContentsTextArea{
    resize: none;
    border-radius: 2vh;
    padding: 1vh;
    margin-top: 1vh;
    width: 90%;
    border: none;
    background-color: #E5E5E5;
}